.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%
.tabs-b__tab--active 
  border-top-color: #0ce6ea !important
.fondo1
  background: url('../assets/curso/tema_1/fondo1.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem 

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.titulo-principal.color-acento-contenido
  .titulo-principal__numero
    span
      color: white

.banner-principal
  .banner-principal__row
    .banner-principal__img
      img
        max-width: 377px

.cajon.color-secundario 
  background-color: #DBFAFA

.BorTit
  border-left: 5px solid $color-acento-contenido
  padding: 6px 0px 6px 10px
  margin-top: 6px

.hr
  border-top: dotted 3px #AFAFAF

.tarjeta_bg_1
  background-color: #FFF2ED

.img-a 
  display: block 
  margin: auto   
  width: auto
  height: auto

.bg_num
  color: #FF8A5B

.jumbo_1
  border-radius: 10px 
  border: 3px solid $color-primario

.bordet-top
  border-radius: 10px 10px 0px 0px 

.jumbo_2
  border-radius: 10px 
  border: 3px solid $color-acento-botones
  background-color: #fff

.jum_bg1
  background-color: #E4F0F5

.jum_bg2
  background-color: #FFEEE6

.th_bg1
  background-color: #E8E8E8

.th_bg2
  background-color: #EA526F
  color: $white !important

.th_bg3
  background-color: $white



.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  color: $white

.tarjeta--gris 
    background-color: #FFF2ED

.tarjeta--bg1
  background-color: #FCE5E9

.tarjeta--bg2
  background-color: #FFE8DE

.cajon.color-primario 
  background-color: #FFE8DE

.hr1
  border-top: solid 2px #EA526F

.bloque-texto-b.color-secundario:before 
    background-color: #FCE5E9

.color1
  color: #FF8A5B

.verticalLine 
  border-right: 5px dotted #FFD494
  height: 280px
  margin-right: 37px

.color2
  color: #25CED1

.color3
  color: #0075A4

.c1
  color: #12263F !important
  margin-left: 10px

.cajon.color-acento-botones 
    background-color: #D7EFF9

.bloque-texto-d.color-secundario:before 
  background-color: #FFE8DE


.bloque-texto-d i 
    font-size: 2.5em
    color: #FF8A5B

.tar-av
  margin-right: -10% !important
  padding-right: 10% !important
  margin-left: 0% !important
  padding-left: 0 !important

.slyder-a__bullets
  bottom: 0px !important

.linea-tiempo-d__item__dots:after 
  border-left: 5px dotted #636363

.tarjeta-avatar-b > img 
    min-width: 15%
    max-width: 15%
    position: relative

.botton--bg2
  background-color: #FFE8DE
  color: #000 !important